.App {
  /* text-align: center; */
}

.App-logo {
  height: 14vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.title_div{
  display: flex;
  justify-content: center;

  align-items: center;
}

.App-header{
  position: sticky;
  top: 0px;

  background-color: inherit;
}

.App-link {
  color: #61dafb;
}

#nav{
  display: flex;
  justify-content: space-evenly;
  cursor: default;
  margin: 1em;
  text-align: center;
}
.navButton{
  width: 100%;
  padding-bottom: 1ch;

  text-decoration: none;
  color: inherit;
}
.activeButton{
  /* background-color: #61dafb; */
  border-bottom: #61dafb solid;
}
#content{
  padding: 2ch;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
